{% extends 'base.html.twig' %}

{% block title %}
   {{ad.title}}
{% endblock %}

{% block body %}

   <div class="ad-title" style="background-image: url({{ ad.coverImage }})">
     <div class="container">
        <h1>{{ad.title}}</h1>
          <p>{{ad.introduction}}</p>
             <p class="h2">
             <strong>{{ad.rooms}} chambres</strong> pour <strong>{{ad.price}}&euro;</strong> par nuit
             </p>  
              <a href="{{ path('booking_create', {'slug' : ad.slug}) }}" class="btn btn-primary">Réserver !</a>
              {# Si il y a quel'qu'en qui et connecté et en plus de ça l'utilisateur connecte se le meme
               qui a créer cette l'annonce  alors on afficera le lien #}
               {# Attention en twig on utilise le == mais pas le === #}
              {% if app.user and app.user == ad.author  %}
              <a href="{{ path('ads_edit', {'slug' : ad.slug}) }}" class="btn btn-secondary">Modifier l'annonce</a>  
              
              <a href="{{ path('ads_delete', {'slug' : ad.slug}) }}" class="btn btn-danger onclik="return confirm(`Êtes vous sur de vouloir supprimer l'annonce : {{ad.title}} ?`)">Supprimer l'annonce</a>
              {% endif %}
     </div> {# fin du div container #}
   </div> {# fin div class="ad-title" #}

   <div class="container">
       <div class="row">
           <div class="col-md-8 mb-3">
                {{ ad.content | raw }} {# filtre RAW se pour pas afficher les balise enleve
                 la securite de twig si il y a une comment ici le balise <p>Paragraph</p>#}
      
                <div class="bd-example">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                        {% for image in ad.images %}
                        <li data-target="#carouselExampleCaptions" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                        {% endfor %}
                      </ol>
                <div class="carousel-inner">
                        {% for image in ad.images %}
                          <div class="carousel-item {% if loop.first %}active{% endif %}">
                              <img src="{{ image.url }}" class="d-block w-100" alt="First slide">
                              <div class="carousel-caption d-none d-md-block">
                                  <h5>{{ ad.title }}</h5>
                                  <p>{{ image.caption }}</p>
                              </div> {# fin div carousel-caption #}
                          </div>  {# fin div carousel-item active #}
                        {% endfor %}
                </div> {# fin div carousel-inner #}
                              <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                  </div> {# fin div id="carouselExampleCaptions #}
              </div> {#  fin div bg-exemple carrouselle #}
            </div> {# din div col-md-8 mb-3 se pour que ils
               passent en deçu une de l'autre sur le mobile et mb-3 se pour margin en bas = margin bottom #}


           <div class="col">
           {# ad.author se une instance de la class User donc est lier au Entite User #}
               {% set a = ad.author %} {# declaration de variable author 
               pour l'appel veut que on appele plusieur fois on declare le 
               set a = ad.author et on fait ici apele a la variable (a) ici parti author #}
                <div class="row mb-3 align-items-center">
                    <div class="col-3">
                    <a href="{{ path('user_show', {'slug' : a.slug}) }}">
                        <img src="{{a.picture}}" class="avatar avatar-medium" alt="Avatar de {{a.fullName}}">
                    </a>
                    </div> {#  fin div col-4 #}
                    <div class="col">
                        <a href="{{ path('user_show', {'slug' : a.slug}) }}">
                            <h3>{{a.fullName}}</h3> {# cette function fullName on la declare dans la Entity User #}
                            {# ici a.ads | length : ça me donne le tableau et le nombre des element que il contien 
                            je le fait passer par le filtre length pour avoir la longeur de cette tableau #}
                        </a>        
                            <span class="badge badge-primary">{{a.ads | length}} annonces</span>
                    </div> {# fin div col #}
                </div> {# fin div row  se pour avoir plusieur collone #}
              <div>
                {{a.description | raw }} 
                {# RAPPEL: le filtre TWIG "RAW" Permet de ne pas échaper les caractères spéciaux HTML #}
              </div> {# fin div qui contient le paragraph #}
           </div> {# fin div col #}
       </div> {# fin div row #}
   </div> {# fin div container #}


{% endblock %}